@use "@common/styles/media-queries.scss";

.layoutContainer {
  padding: 20px 15vh;
  background: transparent;
  height: 100vh;

  @include media-queries.lt-sm {
    padding: 15px;
  }
}

.header {
  border-radius: 3vh;
  background-color: white !important;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
  color: black;
}

.logo {
  font-size: 40px;
}

.contentContainer {
  margin-top: 10px;
  padding: 0 50px;
  width: 100%;
}
